.notificationboxmiddle{
    width: 100%;
    height: 100px;
}

.notificationboxmiddle:hover {
    background-color: rgb(251, 251, 251);
}

.notificationboxmiddle-createdAt{
    margin-left: 10px;
    color: gray;
}