.layout{
    display: flex;
    height: 43px;
    //border: 1px solid gray;
    padding: 5px;
    .layout2 {
        width: 90%;
        display: flex;
        .profileLayout{
            height: 42px;
            width: 42px;
            img {
                width: 32px;
            }
        }
        .contentLayout{
            width: 80%;
            .content{
                display: flex;
                font-size: 14px;
                .userName {
                    font-weight: bold;
                }
                .description{
                    padding-left: 5px;
                    overflow: auto;
                }
            }
            .detail {
                display: flex;
                padding: 2px;
                font-size: 12px;
            
                .likes_list{
                    padding: 2px;
                    color: gray;
                }
                .delete {
                    padding: 2px;
                        color: gray;
                }
            }
         }
    }   
    .like_box{
        width: 10%;
    }
}

.modalOverlay {
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
}

.modalContent {
    .modalTitle{
        display: flex;
        .modalTitleLikes{
            width: 95%;;
            text-align: center;
        }
       .modalTitleIcon{
        width: 5%;;
       }
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
    width: 60%;
    box-shadow: 0px 0px 10px #ccc;
}