.item-box{
    margin: 10px 20px 10px 0px;
    padding: 10px;
    border-radius: 10px;
    width:135px;
    height: 220px;
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

 .itembox-bold{
    font-weight: 500;
}

.photo{
    width: 100%;
}