elasticsearch:
  host: 127.0.0.1
  port: 9200

logging:
  level:
    tracer: TRACE

server:
  port: 0

spring:
  application:
    name: search-service

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka