<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form style="margin:100px; display: inline-block">
    <div style="font-family: verdana; color: gray">
        <img alt="" style="height: 30px"
             src="https://ci4.googleusercontent.com/proxy/vHv3tRtE3I_2w6zR6JFt066OaSywcGpzkuO02W6QMIeOfCWNMc-TyEJKxu4mG2hoBsYBLNnCt6VSzhJNl2kOXcZTRdglv3R20xUvvc29ow=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/Otjcwa2eCOF.png">
        <h3 style="text-align: left">Hi,</h3>
        <h3 style="text-align: left">Someone tried to find for an Instagram account</h3>
        <h3 style="text-align: left" th:text="|with ${email}. If it was you,|"></h3>
        <h3 style="text-align: left">login to Instagram with new password:</h3>
        <h1 style="font-size:200%;text-align: center" th:text="${code}"></h1>
    </div>
</form>
</body>
</html>